.filter{
margin-right: 20px;
display: flex;
flex-direction: row;
gap: 30px;
}

.year-filter,
.status-filter {
    background-color: #1e1e1e;
    color: white;
    margin: 5px 5px;
    border-radius: 5px;
    padding: 7px 7px;
    font-size: 1rem;
    border: 2px solid gray;
    cursor: pointer;
}

.year-filter:hover,
.status-filter:hover {
    background-color: #0c0c0c;
    box-shadow: 0 0 20px rgb(27, 16, 179);
}