.navbar {
    width: 100%;
    background-color: #000000;
    border-bottom: 1px solid #E02D2D;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.brandname {
    font-size: 1.6rem;
    font-family: 'Arial', sans-serif;
}

.navlinks {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    font-size: 1.35rem;
    font-weight: bold;
    font-family: "Source Sans 3", sans-serif;
}

.navbar a.active {
    color: #E02D2D;
}